
 h1 {font-size: 40px;text-align: center;color: purple;}
 h2 {color: red;font-family: cursive;text-align: left;font-size: 50px;background-color: yellow;}
 .user {color: rgb(81, 182, 23);font-family: cursive;text-align: left;font-size: 50px;background-color: rgb(255, 60, 0);}
 h3.use {color: rgb(54, 24, 124);font-family: cursive;text-align: left;font-size: 50px;background-color: yellow;}
 h3.us {color: rgb(236, 240, 45);font-family: cursive;text-align: left;font-size: 50px;background-color: rgb(230, 122, 21);}